<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="static/pic/MVlogo.png" type="image/x-icon" />
    <title>
      Retargeting and Tailoring Multiple-View Visulization from the Desktop to
      Mobile Devices
    </title>
    <link href="static/css/bootstrap-slider.css" rel="stylesheet" />
    <link href="static/css/highlight.css" rel="stylesheet" />
    <link href="static/css/bootstrap.css" rel="stylesheet" />
    <link href="static/css/index1.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="static/css/alert.css" />
  </head>
  <body>
    <div id="top" class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <a class="brand"
          >Retargeting and Tailoring Multiple-View Visulization from the Desktop
          to Mobile Devices</a
        >
        <ul class="nav pull-right">
          <li>
            <a data-toggle="modal" onclick='$("#files").click();'
              ><i class="icon-folder-open"></i> Json</a
            >
          </li>
          <input
            type="file"
            id="files"
            accept=".json"
            style="display: none"
            onchange="handleFiles();"
          />
          <li>
            <a data-toggle="modal" onclick="save()"
              ><i class="icon-download-alt"></i> Save</a
            >
          </li>
          <li>
            <a data-toggle="dropdown"
              ><i class="icon-question-sign"></i> Help</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div id="bottom">
      <div id="panel">
        <div id="device-panel">
          <h3>Output Device</h3>
          <div class="output-line">
            <span class="outputTitle">Model:</span>
            <div id="outputdevices">
              <select id="devicesSelect" onchange="devicesSelectDisplay()">
                <option value="0">iPhone 7/8</option>
                <option value="1">iPhone X/XS/11/11 Pro</option>
                <option value="2">iPhone XR/11 Pro Max</option>
                <option value="3">iPad Mini/Air</option>
                <option value="4">Samsung Galaxy Tab</option>
              </select>
            </div>
          </div>
          <div class="output-line">
            <span class="outputTitle">Size:</span>
            <div id="outputSizeColumn">
              <input id="outputwidth" type="text" name="fname" value="375" />
              <div id="outputMiddle">
                <img
                  id="outputMiddleImg"
                  width="20px"
                  height="20px"
                  src="static\pic\multiple.png"
                />
              </div>
              <input id="outputheight" type="text" name="lname" value="667" />
            </div>
          </div>
          <div class="output-line">
            <span class="outputTitle">Orientation:</span>
            <div id="outputrotate">
              <select id="outputrotateSelect" onchange="rotateOutput()">
                <option value="0">Portrait</option>
                <option value="1">Landscape</option>
              </select>
            </div>
          </div>
        </div>

        <div id="layout-panel">
          <h3>Layout Weight</h3>
          <div class="layout-content test-1">
            <div class="layout-content-content">
              <div id="index-2">
                <div class="geometry-box">
                  <span class="menu-title">Space utility</span>
                  <div class="geometry-value"></div>
                </div>
                <div id="index-1">
                  <div class="topology-box">
                    <span class="menu-title">Topology</span>
                    <div class="topology-value"></div>
                  </div>
                </div>
                <div id="index-2-as">
                  <span class="menu-title">Aspect Ratio</span>
                  <div id="AS"></div>
                </div>
                <div id="index-2-rs">
                  <span class="menu-title">Relative Size</span>
                  <div id="RS"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="wrapper">
        <div class="box">
          <div class="left-box">
            <div class="left-content">
              <div class="left-top">INPUT</div>
              <div class="input-content" id="desktop"></div>
              <div class="output-content-iphone" id="iphone"></div>
              <div class="left-middle">
                <div class="left-middle-content" id="left-middle-content1">
                  <svg id="left"></svg>
                  <div id="left-middle-content1-svg"></div>
                </div>
                <div class="running">
                  <img
                    src="static/pic/run.png"
                    class="run"
                    id="run"
                    onclick="convert()"
                  />
                  <img
                    style="
                      -webkit-animation: load 1.1s infinite linear;
                      display: none;
                    "
                    src="static/pic/loading.png"
                    class="loading"
                    id="loading"
                  />
                </div>
              </div>
              <div class="left-bottom">
                <div class="left-bottom-content">
                  <div id="left-bottom-title"></div>
                  <div class="container">
                    <div class="containerRow">
                      <span class="containerRowTitle"></span>
                      <span class="containerRowContent"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="right-box">
            <div class="right-box-content">
              <div class="right-top">
                <div class="outputName">
                  <p style="margin-left: 10px">OUTPUT</p>
                </div>
              </div>
              <div class="right-middle">
                <div class="right-middle-content" id="right-middle-content1">
                  <svg id="right"></svg>
                  <div id="right-middle-content1-svg"></div>
                  <div class="svg-title"></div>
                </div>
              </div>
              <div class="right-bottom">
                <div class="right-bottom-content" id="right-bottom-content1">
                  <div id="right-bottom-title"></div>
                  <div class="container"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="static/js/default.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega@5.19.1"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@5.0.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.15.1"></script>
  <script
    type="text/javascript"
    src="static/js.min/jquery-2.1.1.min.js"
  ></script>

  <script type="text/javascript" src="static/js.min/d3.min.js"></script>
  <script
    type="text/javascript"
    src="static/js.min/bootstrap-slider.js"
  ></script>
  <script type="text/javascript" src="static/js/outputPanel.js"></script>
  <script type="text/javascript" src="static/js.min/num-alignment.js"></script>
  <script type="text/javascript" src="static/js.min/common.js"></script>
  <script type="text/javascript" src="static/js.min/numberInput.js"></script>
  <script type="text/javascript" src="static/js.min/highlight.js"></script>
  <script type="text/javascript" src="static/js.min/snap.svg.js"></script>
  <script type="text/javascript" src="static/js.min/svg.draggable.js"></script>
  <script
    type="text/javascript"
    src="static/js.min/jquery.uiAlertView-1.0.0.js"
  ></script>
  <script type="text/javascript" src="static/js.min/RangeSlider.js"></script>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"
  ></script>
  <script src="https://cdn.jsdelivr.net/npm/@svgdotjs/svg.js@3.0/dist/svg.min.js"></script>

  <script type="text/javascript" src="static/js-vega/arrange.js"></script>
  <script type="text/javascript" src="static/js-vega/adjust_vl.js"></script>
  <script type="text/javascript" src="static/js-vega/adjust_svg.js"></script>
  <script type="text/javascript" src="static/js-vega/linking.js"></script>

  <script type="text/javascript" src="static/js/vis.js"></script>
  <script type="text/javascript" src="static/js/convert.js"></script>
  <script type="text/javascript" src="static/js/inputData.js"></script>
  <script type="text/javascript" src="static/js/index.js"></script>
  <script type="text/javascript" src="static/js/singleViewDisplay.js"></script>

  <script type="text/javascript" src="static/js/operation.js"></script>

  <script>
    devicesSelectDisplay();

    alignmentFns.destroy();

    alignmentFns.initialize();

    let data;

    //slider
    function show(el1, el2) {
      ran = document.getElementById(el1);
      num = document.getElementById(el2);
      num.value = ran.value;
    }

    function input(d) {
      a = d.Interaction_modality;
      b = d.Size.width;
      c = d.Size.height;
      $("#desktop").empty();
      $("#desktop").append("<div>" + a + "&nbsp(" + b + "x" + c + ")</div>");
    }
  </script>
</html>
