<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>-->
    <script type="text/javascript" src="../static/js-vega/http_ajax.googleapis.com_ajax_libs_jquery_1.7.2_jquery.js"></script>
    <script type="text/javascript" src="../static/js-vega/arrange.js"></script>
    <script type="text/javascript" src="../static/js-vega/adjust_vl.js"></script>
    <script type="text/javascript" src="../static/js-vega/adjust_svg.js"></script>
    <script type="text/javascript" src="../static/js-vega/linking.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega@5.19.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@5.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.15.1"></script>
    <script type="text/javascript" src="../static/js-vega/http_d3js.org_d3.v5.js"></script>
    <style media="screen">
        /* Add space between Vega-Embed links  */
        .vega-actions a {
            margin-right: 0px;
        }
    </style>
</head>
<body>
    <div id="vis">

    </div>
</body>
<script>
    $(document).ready(
        $.ajax({
            url: "../static/json/mv2.json",
            type: "GET",
            dataType: "json",
            success:
                function (data) {
                    let views;
                    views=generate(data);
                    setTimeout(function () {
                            views=adjust_vl(data,views);
                        },
                        500
                    );
                    setTimeout(function(){
                        adjust_svg(views);
                    },700);
                    setTimeout(function(){
                        correct_title(views);
                    },900);
                }
        })
    )

</script>
</html>